li{
    list-style-type:none;
    font-size: 130%;
    margin-right:15px;
}
img{
    border-radius: 15px;
}
.top{
    top:5vh;
    padding:15px;
    background: #f4f4f4;
    border-radius: 7px;
}
body{
     background-color: #f88379; 
}
.button-hover{
    margin:10px;
}
.button-hover-special{
    margin:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 7px;
}
.button-hover-special:hover{
    background-color:blue
}
.button-hover:hover{
    background-color:blue
}

.list-item{
    margin-top: 10px;
}
.top-list-item{
    margin-top:5vh;
}
.bottom-list-item{
    margin-bottom:5vh;
}
.space{
    margin-right:5vh;
    background-color: #f4f4f4;
    border-radius: 7px;
}
.space-left{
    margin-left:5vh;
}